@tailwind base;
@tailwind components;
@tailwind utilities;

/* make background image in images folder */
.background{
    background-image: url("images/vivid-blurred-colorful-wallpaper-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

#calculations{
    overflow-wrap: break-word;
}

  